
.Header {
    background-color: rgba(15, 119, 189, 0.438);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 0.5rem 1rem;

    ul {
        display: flex;
        list-style: none;
       
            li{
                margin: 2px;
            }
    }
    img{
        height: 70px;
    }
}